

<form (ngSubmit)="submit(firstDate.value,lastDate.value)" novalidate>
<div class="container-comparision">
  <div class="container-comparision-element">
    <mat-form-field>
      <label for="entity1">First About (entities):</label>
      <mat-icon class="icon-entity" matTooltip="Entites are physical unites that are ment to descirble a location, a person an organisations an event, etc.. . ex: Paris, Donald Trump." matTooltipPosition="right">help_outline</mat-icon>
      <input matInput [matAutocomplete]="auto1" class="mat-input" id = "entity1" [formControl]="formEntity1">
      <span class="tip">Tip: Include the maximum number of entities that describe your needs for better accuracy</span>
      <mat-autocomplete #auto1>
        <mat-option *ngFor="let item of suggestions1 | async" [value]="item" (click)="optionClicked($event,item,1)" >{{item}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
      
    <div class="selected-items" *ngIf="selectedOptionsFirst.length > 0">
      <div > 
          <mat-chip-grid>
                  <mat-chip *ngFor="let so of selectedOptionsFirst" (removed)="toggleSelection(so,1)" class="chips">
                      <span class="chips-text">{{ so }}</span>
                      <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
          </mat-chip-grid>
      </div>
  </div>
</div>
<div class="container-comparision-element">
  <mat-form-field>
    <label for="entity2">Second About (entities):</label>
    <mat-icon class="icon-entity" matTooltip="Entites are physical unites that are ment to descirble a location, a person an organisations an event, etc.. . ex: Paris, Donald Trump." matTooltipPosition="right">help_outline</mat-icon>
    <input matInput [matAutocomplete]="auto2" class="mat-input" id = "entity2" [formControl]="formEntity2">
    <span class="tip">Tip: Include the maximum number of entities that describe your needs for better accuracy</span>
    <mat-autocomplete #auto2>
      <mat-option *ngFor="let item of suggestions2 | async" [value]="item" (click)="optionClicked($event,item,2)" >{{item}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
    
  <div class="selected-items" *ngIf="selectedOptionsSecond.length > 0">
    <div > 
        <mat-chip-grid>
                <mat-chip *ngFor="let so of selectedOptionsSecond" (removed)="toggleSelection(so,2)" class="chips">
                    <span class="chips-text">{{ so }}</span>
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
        </mat-chip-grid>
    </div>
  </div>
</div>
</div>
<div class="date-input-container">  

  <div>
    <label for="start-date">Enter starting date:</label>
    <mat-icon class="icon"  matTooltip="When do you want your search to start?" matTooltipPosition="right">help_outline</mat-icon>
    <input id="start-date" type="date" placeholder="Enter Start Date..." #firstDate>
  </div>

  <div>
    <label for="end-date">Enter ending date:</label>
    <mat-icon class="icon" matTooltip="When do you want your search to end?" matTooltipPosition="right">help_outline</mat-icon>
    <input id="end-date" type="date" placeholder="Enter End Date..." #lastDate>
  </div>

</div>
<div class="button-search">
  <button type="submit" [disabled]="selectedOptionsFirst.length === 0  && selectedOptionsSecond.length === 0 "> COMPARE</button>
</div>

</form>

  
<div *ngIf="submitted">
  <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-auto gap-4 graphs">
    <div class="col-span-1 md:col-span-2" style="width: 100%; height: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 15px;">
      <app-graph1 [entityData]="entityData"></app-graph1>
    </div>
    <div style="width: 100%; height: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 15px;">
      <app-graph2 [entityData]="entityData2"></app-graph2>
    </div>
    <div style="width: 100%; height: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 15px;">
      <app-graph3 [entityData]="entityData3"></app-graph3>
    </div>
    <div class="col-span-1 md:col-span-2" style="width: 100%; height: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 15px;">
      <app-graph5 [entityData]="entityData4"></app-graph5>
    </div>
  </div>
</div>