<nav>
    <div class="wrapper">
      <div class="logo"><a href="/">ClaimsKG</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn">X</label>
        <li> <a href="/dashboard">DASHBOARD</a></li>
        <li> <a href="/search" >SEARCH</a> </li>
        <li><a href="/compare"> COMPARE </a></li>
        <li> <a href="/about" >ABOUT</a> </li>
        <li><a href="/contact"> CONTACT</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn">☰</label>
    </div>
    
  </nav>