/* example.component.css */
/* example.component.css */
form {
    display: flex;
    width: 100%; /* Use 100% for better responsiveness */
    max-width: 600px; /* Maximum width of the form */
    margin: 20px auto; /* Centering the form */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: none; /* Explicitly removing any border */
}

.date-input-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .date-input-container > div {
    margin: 10px;
  }


input {
    width: 100%;
    padding: 12px; /* Slightly more padding for more space inside the select */
    border: 1px solid #aaa; /* Lighter and thinner border */
    border-radius: 8px; /* More rounded corners */
    font-size: 16px;
    color: #333;
    background-color: #fff;
    outline: none;
    appearance: none; 
    cursor:auto;
}
select {
  width: 100%;
  padding: 12px; /* Slightly more padding for more space inside the select */
  border: 1px solid #aaa; /* Lighter and thinner border */
  border-radius: 8px; /* More rounded corners */
  font-size: 16px;
  color: #333;
  background-color: #fff;
  outline: none;
  appearance: none; 
  cursor:auto;
}
button {
    background-color: rgb(115, 172, 168);
    color: white;
    border: none;
    padding: 12px 30px; /* More padding for a bigger, easier-to-click button */
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* More rounded corners */
    transition: background-color 0.3s;
    outline: none;
}

button:hover {
    background-color:  rgb(87, 133, 130);
}

  /* Container styling */
.selected-items {
    margin-top: 20px; /* Space above the container */
    background-color: #f0f0f0; /* Light grey background for the container */
    padding: 10px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners */
  }
  
  /* Chip grid and row styling */
  mat-chip-grid {
    display: flex; /* Ensures the chips are laid out horizontally */
    flex-wrap: wrap; /* Allows chips to wrap onto the next line */
    gap: 10px; /* Space between chips */
  }
  
  mat-chip-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #92c4be
    
  }
  
  .chips {
    background-color:  rgb(115, 172, 168) !important;
    border: none !important;
    font-size: 16px !important;
    border-radius: 16px !important;
    padding: 8px 12px !important;
  }
  .chips-text {
    margin-right: 8px; /* Space between the text and the icon */
    color: white !important;
}
  
  /* Icon within the chip */
  mat-icon {
    color: white; /* White color for the icon */
    cursor: pointer; /* Cursor indicates clickable */
  }
  
  /* Hover effects for chips */
  .chips:hover {
    opacity: 0.87; /* Slight transparency on hover */
    background-color:  rgb(87, 133, 130); /* Darker background on hover */
  }