<script src="https://unpkg.com/layout-base/layout-base.js"></script>
<script src="https://unpkg.com/cose-base/cose-base.js"></script>
<script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>


<div class="body">
    <h2 class="graph-title">Visualizing Relationships and Frequency in Fake-News Topics*</h2>
    <div id="vis-graph"></div>
<span class="tip">*This graph shows the relationships between fake-news topics. The thickness of the connections indicates how often two topics are related, and the size of a node, normalized for better visibility, represents the frequency of a single topic.</span>
</div>