

<form (ngSubmit)="submit(inputValue.value,first_date.value,last_date.value)" >
  
  <div>

    <mat-form-field>
      <label for="entity">Enter the entities:</label>
  
      <input matInput [matAutocomplete]="auto" id = "entity" [formControl]="name" #inputValue >
      <mat-autocomplete #auto>
        <mat-option *ngFor="let item of suggestions | async" [value]="item" >{{item}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    


    <input [(ngModel)]="entitiesField"
    (keydown)="addEntryFilterPress($event,'entities', 'entitiesField','filteredEntities', true, false)"
    id="entities" name="entities" type="text" class="form-control"
    (input)="searchEntities(entitiesField)" [matAutocomplete]="entities">
    <mat-autocomplete #entities="matAutocomplete">
    <mat-option class="entitiesOption"
              (click)="addEntryFilterClick('entities', 'entitiesField', 'filteredEntities', true, false)"
              *ngFor="let entity of filteredEntities" [value]="entity"
              title="{{entity}}">{{entity}}</mat-option>
    </mat-autocomplete>









  </div>

  <div class="date-input-container">  

    <div>
      <label for="start-date">Enter starting date:</label>
      <input id="start-date" type="date" placeholder="Enter Start Date..." #first_date>
    </div>

    <div>
      <label for="end-date">Enter ending date:</label>
      <input id="end-date" type="date" placeholder="Enter End Date..." #last_date>
    </div>

  </div>

    <button type="submit" class="">Search</button>

  </form>

<!--div *ngIf="submitted">

    Showing entity graphs here

    <app-graph-label-date></app-graph-label-date>

</div-->