<app-navigation-bar></app-navigation-bar>
<div class="container-global">
    <h1> <b> Project Team Members</b></h1>
    <ul class="affiliates-list">
        <li><b>Susmita Gangopadhyay</b>, GESIS - Leibniz Institute for the Social Sciences (Germany) | <a href="https://www.gesis.org/home" target="_blank">GESIS</a></li>
        <li><b>Stefan Dietze</b>, GESIS - Leibniz Institute for the Social Sciences (Germany) | <a href="https://www.gesis.org/home" target="_blank">GESIS</a></li>
        <li><b>Pavlos Fafalios</b>, L3S Research Centre (Germany) | <a href="https://www.l3s.de/" target="_blank">L3S Research Centre</a></li>
        <li><b>Andon Tchechmedjiev</b>, LGI2P / IMT Mines Ales / University of Montpellier (FRANCE) | <a href="https://www.mines-ales.fr/" target="_blank">LGI2P</a></li>
        <li><b>Konstantin Todorov</b>, LIRMM / University of Montpellier (FRANCE) | <a href="https://www.lirmm.fr/" target="_blank">LIRMM</a></li>
        <li><b>Benjamin Zapilko</b>, GESIS - Leibniz Institute for the Social Sciences (Germany) | <a href="https://www.gesis.org/home" target="_blank">GESIS</a></li>
        <li><b>Hajira Jabeen</b>, GESIS - Leibniz Institute for the Social Sciences (Germany) | <a href="https://www.gesis.org/home" target="_blank">GESIS</a></li>
        <li><b>Matthäus Zloch</b>, GESIS - Leibniz Institute for the Social Sciences (Germany) | <a href="https://www.gesis.org/home" target="_blank">GESIS</a></li>
    </ul>

    <div class="creator-info">
        <h1><b>Website created by:</b></h1>
        <p class="affiliates-list">
            <li><b>Thomas LAGUERRE, Ayoub CHANINI, Mohamad Satea ALMALLOUHI</b> students at the <a href="https://www.umontpellier.fr/en/" target="_blank">University of Montpellier (FRANCE)</a>
        </p>
       
    </div>

</div>