
<style>
    /* Styles CSS pour la navbar */
    .navbar {
      background-color: #f2f2f2;
      padding: 20px;
      text-align: center;
    }

    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .navbar li {
      display: inline-block;
      margin-right: 10px;
    }

    .navbar a {
      text-decoration: none;
      color: #333;
      padding: 10px 20px;
      border: 1px solid #333;
      border-radius: 5px;
    }

    .navbar a:hover {
      background-color: #ddd;
    }
  </style>
  <div class="navbar">
    <ul>
      <li><a href="">Home Page</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/apropos" >About</a></li>
    </ul>
  </div>
