

<form (ngSubmit)="submit(firstDate.value,lastDate.value)" novalidate>

  <mat-form-field>
    <label for="entity">About (entities):</label>
    <mat-icon class="icon-entity" matTooltip="Which entities would you like to include? ex: Donald Trump, USA or Paris ..." matTooltipPosition="right">help_outline</mat-icon>
    <input matInput [matAutocomplete]="auto" class="mat-input" id = "entity" [formControl]="formEntity">
    <mat-autocomplete #auto>
      <mat-option *ngFor="let item of suggestions | async" [value]="item" (click)="optionClicked($event,item)" >{{item}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
    
  <div class="selected-items" *ngIf="selectedOptions.length > 0">
    <div > 
        <mat-chip-grid>
                <mat-chip *ngFor="let so of selectedOptions" (removed)="toggleSelection(so)" class="chips">
                    <span class="chips-text">{{ so }}</span>
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
        </mat-chip-grid>
    </div>
</div>

<div class="date-input-container">  

  <div>
    <label for="start-date">Enter starting date:</label>
    <mat-icon class="icon"  matTooltip="When do you want your search to start?" matTooltipPosition="right">help_outline</mat-icon>
    <input id="start-date" type="date" placeholder="Enter Start Date..." #firstDate>
  </div>

  <div>
    <label for="end-date">Enter ending date:</label>
    <mat-icon class="icon" matTooltip="When do you want your search to end?" matTooltipPosition="right">help_outline</mat-icon>
    <input id="end-date" type="date" placeholder="Enter End Date..." #lastDate>
  </div>

</div>
<div class="button-search">
  <button type="submit" [disabled]="selectedOptions.length === 0">SEARCH</button>
</div>

</form>

  

<div *ngIf="submitted" >

  
  Graphs for the entity

</div>