
















<!--form (ngSubmit)="submit(selectedCategory.value)">
    <div>Please choose the prefered topic</div>
    <select #selectedCategory required>
      <option value="" disabled selected>Choose a category...</option>
      <option value="Crime">Crime</option>
      <option value="Science">Science</option>
      <option value="Food">Food</option>
      <option value="Politics">Politics</option>
      <option value="Guns">Guns</option>
      <option value="Business">Business</option>
      <option value="Religion">Religion</option>
      <option value="Terrorism">Terrorism</option>
      <option value="Election">Election</option>
      <option value="Health">Health</option>
      <option value="Economy">Economy</option>
      <option value="Legal Affairs">Legal Affairs</option>
      <option value="Military">Military</option>
      <option value="Sports">Sports</option>
      <option value="Covid 19/Coronavirus">Covid 19/Coronavirus</option>
      <option value="Climate & Environment">Climate & Environment</option>
      <option value="Sex & Gender">Sex & Gender</option>
      <option value="Race & Ethnicity">Race & Ethnicity</option>
      <option value="Technology">Technology</option>
      <option value="Immigration">Immigration</option>
      <option value="Education">Education</option>
    </select>
    <button type="submit" class="">Search</button>
  </form>


  <div *ngIf="submitted">

    Showing topic graphs here

</div-->