<app-home-page></app-home-page>
<app-claims-summary></app-claims-summary>

<div class="grid grid-cols-2 grid-rows-2 gap-4">
  <div style="width: 100%; height: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 15px;"><app-graph1></app-graph1></div>
  <div style="width: 100%; height: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 15px;"><app-graph2></app-graph2></div>
  <div class="col-span-2" style="width: 100%; height: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 15px;"><app-graph3></app-graph3></div>
</div>

<app-filtre></app-filtre>