.button_title {
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    margin: 1em;
    border: none; 
    border-bottom: 3px solid transparent; 
  }
  
  .button_title:hover {  transition: background-color 0.3s ease;
    color: rgb(63, 105, 103); /* Slightly visible on hover */
  }
  
  .active {
    color: rgb(87, 133, 130); /* Slightly visible on hover */
    border-bottom-color: rgb(87, 133, 130); 
  }
  .button-container {
    display: flex;
    justify-content: space-around; /* This will space out the buttons equally */
    align-items: center; /* Aligns buttons vertically */
    padding: 20px; /* Padding around the container */
  }
