<div class="max-w-sm mx-auto mt-20 bg-gray rounded-md shadow-md overflow-hidden">
    <div class="px-6 py-4 bg-gray-900 text-white">
        <h1 class="text-lg font-bold">Claims Search Engine</h1>
    </div>
    
      
      <div class="px-6 py-4 border-solid border-2 border-black-600">
        <form action="#" method="get">
        <div class="mb-4">
            <input
                class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="name" type="text" name="namedEntites" placeholder="Named Entites">
        </div>
  
        <div class="mb-4">
            <input
                class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="keys" name="keywords" type="text" placeholder="Keywords">
        </div>
  
        <div class="mb-4">
            <input
                class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="author" type="text" name="authors" placeholder="Authors">
        </div>
  
        <div class="mb-4">
            <input
                class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="time" type="text" name="timesPeriod" placeholder="Times period">
        </div>
  
        <div class="mb-4">
          <input
              class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="language" type="text" name="languages" placeholder="Languages">
      </div>
  
      <div class="mb-4">
        <input
            class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="source" type="text" name="sources" placeholder="Sources">
    </div>
    <div class="mb-4">
      <input class="test" type="checkbox" id="scalesTrue" value="3" name="scales" />
      <label for="scales">True</label>&nbsp;&nbsp;
      <input class="test" type="checkbox" id="scalesFalse" value="2" name="scales" />
      <label for="scales">False</label>&nbsp;&nbsp;
      <input class="test" type="checkbox" id="scalesMixture" value="1" name="scales" />
      <label for="scales">Mixture</label>&nbsp;&nbsp;
      <input class="test" type="checkbox" id="scalesOthers" value="-1" name="scales" />
      <label for="scales">Others</label>&nbsp;&nbsp;
    </div>  
        <input type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full" >
       
        <script src="https://cdn.tailwindcss.com"></script>
